/* General Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
}


/* Header Styles */

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #3B1E54;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button {
    background-color: #DCBFFF;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

header button:hover {
    background-color: #D0A2F7;
    color: black;
    transition: 0.3s ease-in-out;
}

h2 {
    margin: 0;
    font-size: 1.5em;
    margin-left: 10px;
}

h3 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-top: 10px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 99%;
}


/* Subjects Container Styles */

.subjects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px 10px;
    column-gap: 15px;
    margin: 20px;
    box-sizing: border-box;
}

.subject-item {
    background-color: #D4BEE4;
    border: 1px solid #c2c2c2;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    width: calc(33.333% - 15px);
    margin-bottom: 15px;
    box-sizing: border-box;
}

.subject-item:hover {
    background-color: #9B7EBD;
    transition: .3s ease-in-out;
    color: white;
}

.subject-item img {
    width: 50%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 5px;
}

.subject-item h3 {
    font-size: 1.1em;
    margin-top: 5px;
}

.subject-item p {
    font-size: 0.85em;
    margin: 5px 0;
}

.subject-item button {
    background-color: #3B1E54;
    color: white;
    border: none;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9em;
    margin-top: 8px;
}

.subject-item button:hover {
    background-color: #3B1E90;
    transition: 0.3s ease-in-out;
}


/* Checkout Container Styles */

.checkout-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}

.checkout-container h2 {
    text-align: center;
    color: #333;
}

.checkout-container ul {
    list-style-type: none;
    padding-left: 0;
}

.checkout-container li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.checkout-container img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}

.subject-info {
    flex-grow: 1;
    font-size: 16px;
    color: #333;
}

.quantity-control {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-control button {
    background-color: #3B1E54;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.quantity-control button:hover {
    background-color: #3B1E90;
}

.total-value {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.checkout-container button.place-order {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

.checkout-container button.place-order:hover {
    background-color: #218838;
    transition: 0.3s ease-in-out;
}


/* Input Styles */

input[type="text"],
input[type="number"],
input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Checkout Form Styles */

.checkout-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    gap: 10px;
}

.form-group {
    flex: 1;
    min-width: 0;
}

.form-group.full-width {
    flex-basis: 100%;
}

.sort-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.sorting-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    padding: 10px 15px;
    border: none;
    background-color: #f44336;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.dropdown-button:hover {
    background-color: #d32f2f;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1;
    width: 100%;
    max-width: 200px;
    left: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-item {
    padding: 10px 15px;
    cursor: pointer;
    white-space: nowrap;
    color: black;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

.search-bar {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 40%;
}

.search-bar input {
    padding: 10px;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-right: 53px;
}

.card-input {
    margin-top: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}


/* Media Queries */

@media (min-width: 1025px) {
    .subject-item {
        width: calc(33.333% - 10px);
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .subject-item {
        width: calc(50% - 10px);
    }
}

@media (max-width: 600px) {
    .subject-item {
        width: 100%;
    }
}